{% extends "basewebsite.html" %}
{% block header %}
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<style>
  		#draggable {position: absolute; 
  					top: 60px;  /* adjust value accordingly */
  					right: 10px;  /* adjust value accordingly */ 
  					width: 200; 
  					height: 760; 
  					opacity: 0.8;
    				filter: alpha(opacity=50);
  					}
  	</style>
	<script>
		  $(function() {
		    $( "#draggable" ).draggable();
		  });
		  $(function() {
		    $( "#accordion" ).accordion();
		  });
		  $(function() {
		    $( "#tabs" ).tabs();
		  });
	</script>
{% endblock %}

{% block menu %}
	<div id="draggable" class="ui-widget-content">
		<div id="accordion">
			  <h1>Section 1</h1>
			  <div>
			    <p>
			    Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
			    </p>
			  </div>
			  <h3>Section 2</h3>
			  <div>
			    <p>
			    Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
			    </p>
			  </div>
			  <h3>Section 3</h3>
			  <div>
			    <p>
			    Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
			    </p>
			  </div>
		</div>
	</div>
{% endblock %}

{% block content %}
	<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<script>
		var map, marker, waypointByID = {};
		{% if waypoint %}
		function initialize() {
		    map = new google.maps.Map(document.getElementById('map'), {
		        zoom: 5,
		        center: new google.maps.LatLng({{waypoint.geometry.y}}, {{waypoint.geometry.x}}),
		        mapTypeId: google.maps.MapTypeId.ROADMAP
		    });
		    var center = new google.maps.LatLng({{waypoint.geometry.y}}, {{waypoint.geometry.x}});
		    if (marker) marker.setMap();
		    marker = new google.maps.Marker({map: map, position: center});
		    map.panTo(center);
		}
		{% endif %}
	
		{% for waypoint in waypoints %}
		waypointByID[{{waypoint.id}}] = {
		    name: "{{waypoint.name}}",
		    lat: {{waypoint.geometry.y}},
		    lng: {{waypoint.geometry.x}}
		};
		{% endfor %}
	
	
		$(document).ready(function () {
		    function activateWaypoints() {
		        // Add waypoint click handler
		        $('.waypoint').each(function () {
		            $(this).click(function() {
		                var waypoint = waypointByID[this.id];
		                var center = new google.maps.LatLng(waypoint.lat, waypoint.lng);
		                if (marker) marker.setMap();
		                marker = new google.maps.Marker({map: map, position: center});
		                map.panTo(center);
		            }).hover(
		                function () {this.className = this.className.replace('OFF', 'ON');},
		                function () {this.className = this.className.replace('ON', 'OFF');}
		            );
		        });
		    }
		    activateWaypoints();
		});
		
		window.onload = initialize;
	</script>
	<style>
	    body {font-family: sans-serif}
	    #map {width: $(window).width(); height: 800;}
	    #waypoints {overflow: auto; width: 500px; height: 100px}
	    .linkOFF {color: darkblue}
	    .linkON {color: white; background-color: darkblue}
	</style>
	<div id="map"></div>
{% endblock %}